<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baoxiao.app.mapper.BaoxiaoOrderSumMapper">

    <resultMap type="com.baoxiao.app.domain.BaoxiaoOrderSum" id="BaoxiaoOrderSumResult">
        <result property="orderSumId" column="order_sum_id"/>
        <result property="orderId" column="order_id"/>
        <result property="repaymentSum" column="repayment_sum"/>
        <result property="paymentSum" column="payment_sum"/>
        <result property="offsetLoanSum" column="offset_loan_sum"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
    </resultMap>


</mapper>
