<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baoxiao.app.mapper.BaoxiaoOrderMapper">

    <resultMap type="com.baoxiao.app.domain.BaoxiaoOrder" id="BaoxiaoOrderResult">
        <result property="orderId" column="order_id"/>
        <result property="orderNumber" column="order_number"/>
        <result property="orderType" column="order_type"/>
        <result property="orderDate" column="order_date"/>
        <result property="orderNum" column="order_num"/>
        <result property="baoxiaoType" column="baoxiao_type"/>
        <result property="totalAmount" column="total_amount"/>
        <result property="editableTotalAmount" column="editable_total_amount"/>
        <result property="collectionId" column="collection_id"/>
        <result property="feeId" column="fee_id"/>
        <result property="isOffsetLoan" column="is_offset_loan"/>
        <result property="isDeptShare" column="is_dept_share"/>
        <result property="orderStatus" column="order_status"/>
        <result property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="baoxiaoUserId" column="baoxiao_user_id"/>
        <result property="baoxiaoUserName" column="baoxiao_user_name"/>
        <result property="deptId" column="dept_id"/>
        <result property="deptName" column="dept_name"/>
        <result property="companyId" column="company_id"/>
        <result property="clientId" column="client_id"/>
        <result property="personnels" column="personnels"/>
        <result property="remark" column="remark"/>
        <result property="auditId" column="audit_id"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <resultMap type="com.baoxiao.app.domain.vo.BaoxiaoOrderInfoVo" id="BaoxiaoOrderInfoVoResult">
        <result property="orderId" column="order_id"/>
        <result property="orderNumber" column="order_number"/>
        <result property="orderType" column="order_type"/>
        <result property="orderDate" column="order_date"/>
        <result property="orderNum" column="order_num"/>
        <result property="baoxiaoType" column="baoxiao_type"/>
        <result property="totalAmount" column="total_amount"/>
        <result property="editableTotalAmount" column="editable_total_amount"/>
        <result property="isOffsetLoan" column="is_offset_loan"/>
        <result property="isDeptShare" column="is_dept_share"/>
        <result property="orderStatus" column="order_status"/>
        <result property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="baoxiaoUserId" column="baoxiao_user_id"/>
        <result property="baoxiaoUserName" column="baoxiao_user_name"/>
        <result property="deptId" column="dept_id"/>
        <result property="deptName" column="dept_name"/>
        <result property="companyId" column="company_id"/>
        <result property="clientId" column="client_id"/>
        <result property="personnels" column="personnels"/>
        <result property="remark" column="remark"/>
        <result property="auditId" column="audit_id"/>
        <collection property="fees" ofType="com.baoxiao.app.domain.BaoxiaoFee">
            <result property="feeId" column="fee_id"/>
            <result property="feeItem" column="fee_item"/>
            <result property="baoxiaoSum" column="baoxiao_sum"/>
            <result property="taxRate" column="tax_rate"/>
            <result property="specialRicket" column="special_ricket"/>
            <result property="departureDate" column="departure_date"/>
            <result property="departureLocation" column="departure_location"/>
            <result property="arrivalLocation" column="arrival_location"/>
            <result property="returnDate" column="return_date"/>
            <result property="numberOfPeople" column="number_of_people"/>
            <result property="tripDays" column="trip_days"/>
            <result property="transportation" column="transportation"/>
            <result property="transportationFee" column="transportation_fee"/>
            <result property="travelAllowance" column="travel_allowance"/>
            <result property="accommodationFee" column="accommodation_fee"/>
            <result property="transportationSubsidy" column="transportation_subsidy"/>
            <result property="mealSubsidy" column="meal_subsidy"/>
            <result property="otherExpenses" column="other_expenses"/>
        </collection>
        <collection property="collections" ofType="com.baoxiao.app.domain.BaoxiaoCollection">
            <result property="collectionId" column="collection_id"/>
            <result property="collectionSum" column="collection_sum"/>
            <result property="collectionUser" column="collection_user"/>
            <result property="collectionBank" column="collection_bank"/>
            <result property="collectionBankName" column="collection_bank_name"/>
            <result property="collectionBankAddress" column="collection_bank_address"/>
        </collection>
        <collection property="files" ofType="com.baoxiao.app.domain.BaoxiaoOrderFile">
            <result property="fileId" column="file_id"/>
            <result property="orderId" column="oid"/>
            <result property="ossId" column="oss_id"/>
            <result property="fileName" column="file_name"/>
            <result property="originalName" column="original_name"/>
            <result property="url" column="url"/>
        </collection>
    </resultMap>

    <select id="selectOrderInfoById"  resultMap="BaoxiaoOrderInfoVoResult">
        select o.order_id,o.order_number,o.order_type,o.order_date,o.order_num,o.baoxiao_type,o.total_amount,o.editable_total_amount,
        editable_total_amount,o.is_offset_loan,o.is_dept_share,o.order_status,o.user_id,o.user_name,o.baoxiao_user_id,o.baoxiao_user_name,o.dept_id,o.dept_name,o.company_id,o.client_id,o.remark,o.audit_id,o.personnels,
            f.fee_id,f.fee_item,f.baoxiao_sum,f.tax_rate,f.special_ricket,f.departure_date,f.departure_location,f.arrival_location,f.return_date,f.number_of_people,f.trip_days,f.transportation,f.transportation_fee,f.travel_allowance,f.accommodation_fee,f.transportation_subsidy,f.meal_subsidy,f.other_expenses,
            c.collection_id,c.collection_sum,c.collection_user,c.collection_bank,c.collection_bank_name,c.collection_bank_address,
            bof.file_id,bof.order_id as oid,bof.oss_id,bof.file_name,bof.original_name,bof.url
        from baoxiao_order o
        left join baoxiao_fee f on o.fee_id = f.fee_id
        left join baoxiao_collection c on o.collection_id = c.collection_id
        left join baoxiao_order_file bof on o.order_id = bof.order_id
        where o.del_flag = 0
        <if test="orderId != '' and orderId != null">
            and o.order_id = #{orderId}
        </if>
    </select>
</mapper>
